/* Author: Mochammad Ihza Rizky Karim */

$c1: red
$c2: blue

p
	font-family: helvetica
	color:$c1
	background-color: gray

.div1

	font-family: helvetica
	background-color: gray
	border: 2px solid black

	ul
		list-style-type: square
		color:$c1
	li
		color:$c2

.div2

	font-family: helvetica

	ul
		list-style-type: square
		color:$c2
	li
		color:$c2